@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Designed for better  <span style="font-size:100%;color:red;">&#8734;</span> matches
        </h1> <p class=" =lead">Match and chat with<span style="font-size:300%;color:red;">&hearts;</span>new people! </p>

    </div>
</div>

<h4> Discover Some Users</h4>


<div class="py- 5 bg_light" ;

     <div class="container">

         <div class="row">

             <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card img top " width="100%" height="225"  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"  focusable="false" role="img" aria-label=""</svg>
                     <div class="card-body">
                         <p class="card-text"></p>

                         <div class="d-flex justify-content-between align-items-center">
                             <div class="btn-group">

                                 <a href="#" class="btn btn-sm  btn-outline-secondary"> Visit Profile </a>
                                 @if (!User.Identity.IsAuthenticated)
                                 {
                                 }
                                 </div>

                         </div>
                     </div>

                 </div>

             </div>
         </div>
     </div>

     </div>





     




