@model IEnumerable<Datingsida.Models.ProfileModel>

@{
    ViewData["Title"] = "Index";
    ViewData["ShowListLinks"] = false;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck">
    @foreach (var profile in Model)
    { 
        <partial name="_DisplayProfilePartial" model="profile" view-data="ViewData" />
    }
</div>
