@model IEnumerable<Datingsida.Models.ProfileModel>

@{
    ViewData["Title"] = "Visit";
}

<h1>Visit</h1>


<div class="card-deck">
    @foreach (var profile in Model)
    {
        <partial name="_DisplayProfilePartial" model="profile" view-data="ViewData" />
    }
</div>
