@model IEnumerable<Datingsida.Models.ProfileModel>

@{ ViewData["Title"] = "Friends";

    ViewData["ShowLink"] = false;
    ViewData["ShowVisitLink"] = true;
    ViewData["ShowAddLink"] = false;
}

    @foreach (var profile in Model)
    {
        @await Html.PartialAsync("_DisplayProfilePartial", profile);

        <div class="card-body">
            @Html.ActionLink("Accept", "AcceptFriendRequest", "FriendRequestModel",
          new { UserSender = profile.OwnerId, isAccepted = true },
          new { @class = "btn btn-primary" })
            @Html.ActionLink("Decline", "AcceptFriendRequest", "FriendRequestModel",
          new { UserSender = profile.OwnerId, isAccepted = false },
          new { @class = "btn btn-primary" })
        </div>
    }

