@model IEnumerable<Datingsida.Models.FriendRequestModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Vänförfrågningar</h2>

<div id="list">

    @foreach (var profil in Model)
    {
        <div id="object">

            <div class="object-item">
                <img src="@Url.Content(profil.Profiles)" />
            </div>
        </div>
    }
</div>
